@use "variables" as *;
@use "mixins" as *;

.swiper{
    width: 100%;
    height: 200px;
    margin: $swiper-margin;

    &-wrapper{
        border-radius: $swiper-radius;
    }

    &-slide{
        @include swiper-slide-styles;
    }

    &-button-prev, &-button-next{
        color: #FFFF;
    }
}