@use "sass:color";

$primary-color: rgb(64, 106, 234);
$primary-hover: rgb(0, 0, 83);
$swiper-bg: rgb(178, 224, 239);

$border-radius: 8px;
$swiper-radius: 10px;
$bth-padding: 10px 20px;
$swiper-margin: 20px 0;